VITE_BELLE_MANTENA_TOKEN=
VITE_BELLE_SAO_MATEUS_TOKEN=
VITE_BELLE_LINHARES_TOKEN=
VITE_BELLE_ARACRUZ_TOKEN=
VITE_BELLE_SERRA_TOKEN=

VITE_ELOSGATE_MANTENA_KEY=
VITE_ELOSGATE_SAO_MATEUS_KEY=
VITE_ELOSGATE_LINHARES_KEY=
VITE_ELOSGATE_ARACRUZ_KEY=
VITE_ELOSGATE_SERRA_KEY=
